on: [push]

jobs:

  tests_default:
    runs-on: ubuntu-latest
    name: Ansbile action tests.  
    steps:
      - uses: actions/checkout@v3
      - name: default
        id: test_default
        uses: ./
        with:
          workingDirectory: "/tests/default"

  tests_matrix:
    runs-on: ubuntu-latest
    name: Ansbile action tests.    
    strategy:
      matrix: 
        test: [ basic, requirements, keyfile ]
        keyFile: [ "", id_rsa, id_ed25519 ]
        exclude:
          # exclude all tests with keyfiles
          - keyFile: id_rsa
          - keyFile: id_ed25519
        include:
          - requirementsFile: 'requirements.yml'
          - inventoryFile: 'inventory'
          - playbookFile: 'site.yml'
          # include keyfile tests with keyfiles
          - keyFile: id_rsa
            test: keyfile
          - keyFile: id_ed25519
            test: keyfile

    steps:
      - uses: actions/checkout@v3
      - name: set env variable
        run: |
          cd tests/${{ matrix.test }}
          echo 'KEYFILE<<EOF' >> $GITHUB_ENV
          cat ${{ matrix.keyFile }} >> $GITHUB_ENV
          echo EOF >> $GITHUB_ENV
      - name: ${{ matrix.test }}
        uses: ./
        with:
          workingDirectory: "/tests/${{ matrix.test }}"
          requirementsFile: ${{ matrix.requirementsFile }}
          inventoryFile: ${{ matrix.inventoryFile }}
          playbookFile: ${{ matrix.playbookFile }}
