on: [push]

jobs:

  tests_default:
    runs-on: ubuntu-latest
    name: Ansbile action tests.  
    steps:
      - name: default
        id: test_default
        uses: labrats-work/action-ansible@main
        with:
          nsbl_workingdirectory: "/tests/default"

  tests_matrix:
    runs-on: ubuntu-latest
    name: Ansbile action tests.    
    strategy:
      matrix: 
        test: [ basic, ansible_awesome ]
        include:
          - nsbl_requirements: 'requirements.yml'
          - nsbl_inventory: 'inventory'
          - nsbl_playbook: 'site.yml'
    steps:
      - name: ${{ matrix.test }}
        uses: labrats-work/action-ansible@main
        with:
          nsbl_workingdirectory: "/tests/${{ matrix.test }}"
          nsbl_requirements: ${{ matrix.nsbl_requirements }}
          nsbl_inventory: ${{ matrix.nsbl_inventory }}
          nsbl_playbook: ${{ matrix.nsbl_playbook }}
