name: Test Ansible Action

on: [push]

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:

  tests_matrix:
    runs-on: ubuntu-latest
    name: Ansbile action tests.    
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix: 
        test: [ default, basic, requirements ]
        keyGen: [ "", invalid, rsa, ed25519 ]
        exclude:
          - keyGen: invalid
          - keyGen: rsa
          - keyGen: ed25519
        include:
          - expectedResult: success
          - requirementsFile: requirements.yml
          - inventoryFile: inventory
          - playbookFile: site.yml
          - keyGen: invalid
            expectedResult: failure
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.BRANCH_NAME }}
      - name: Update image for test
        run: |
          sed -i 's|docker.io/labratswork/ops-images-ansible-action|Dockerfile|' action.yml
      - name: Create and load keyfile for test.
        run: |          
          if [ "${{ matrix.keyGen }}" = "invalid" ]
          then
            echo 'KEYFILE<<EOF' >> $GITHUB_ENV
            echo $RANDOM >> $GITHUB_ENV
            echo EOF >> $GITHUB_ENV
          else
            ssh-keygen -t ${{ matrix.keyGen }} -N '' -f id_${{ matrix.keyGen }}
            xargs -a id_${{ matrix.keyGen }} -I{} -d'\n' echo ::add-mask::{}
            echo "Loading keyfile \"${{ matrix.keyGen }}\" into GITHUB_ENV."
            echo 'KEYFILE<<EOF' >> $GITHUB_ENV
            cat id_${{ matrix.keyGen }} >> $GITHUB_ENV
            echo EOF >> $GITHUB_ENV
          fi
        if: matrix.keyGen != ''
      - name: Run test for ${{ matrix.test }}
        uses: ./
        id: test
        continue-on-error: true
        with:
          workingDirectory: "/tests/${{ matrix.test }}"
          requirementsFile: ${{ matrix.requirementsFile || 'requirements.yml' }}
          inventoryFile: ${{ matrix.inventoryFile || 'inventory' }}
          playbookFile: ${{ matrix.playbookFile || 'site.yml' }}
          sshKey: ${{ env.KEYFILE }}
      - name: Assert test ${{ matrix.test }}
        if: always()
        run: |
          [ "${{ matrix.expectedResult }}" == "${{ steps.test.outcome }}" ] && exit 0
          exit 1