on: [push]

jobs:

  tests_default:
    runs-on: ubuntu-latest
    name: Ansbile action tests.  
    steps:
      - uses: actions/checkout@v3
      - name: default
        id: test_default
        uses: ./
        with:
          workingDirectory: "/tests/default"

  tests_matrix:
    runs-on: ubuntu-latest
    name: Ansbile action tests.    
    strategy:
      fail-fast: false
      matrix: 
        test: [ basic, requirements, keyfile ]
        keyFile: [ "", invalid, id_rsa, id_ed25519 ]
        exclude:
          - test: basic
            keyfile: invalid
          - test: basic
            keyfile: id_rsa
          - test: basic
            keyfile: id_ed25519

          - test: requirements
            keyfile: invalid
          - test: requirements
            keyfile: id_rsa
          - test: requirements
            keyfile: id_ed25519
            
          - test: keyfile
            keyfile: ''
        include:
          - requirementsFile: 'requirements.yml'
          - inventoryFile: 'inventory'
          - playbookFile: 'site.yml'

    steps:
      - uses: actions/checkout@v3
      - name: Setup test environment.
        run: |
          cd tests/${{ matrix.test }}
          if [ -f ${{ matrix.keyFile }} ]
          then
            echo "Loading keyfile \"${{ matrix.keyFile }}\" into GITHUB_ENV."
            echo 'KEYFILE<<EOF' >> $GITHUB_ENV
            cat ${{ matrix.keyFile }} >> $GITHUB_ENV
            echo EOF >> $GITHUB_ENV
          fi
      - name: Run test for ${{ matrix.test }}
        uses: ./
        with:
          workingDirectory: "/tests/${{ matrix.test }}"
          requirementsFile: ${{ matrix.requirementsFile }}
          inventoryFile: ${{ matrix.inventoryFile }}
          playbookFile: ${{ matrix.playbookFile }}
