on: [push]

jobs:

  tests_default:
    runs-on: ubuntu-latest
    name: Ansbile action tests.  
    steps:
      - name: default
        id: test_default
        uses: labrats-work/action-ansible@${{ github.head_ref || github.ref_name }}
        with:
          workingDirectory: "/tests/default"

  tests_matrix:
    runs-on: ubuntu-latest
    name: Ansbile action tests.    
    strategy:
      matrix: 
        test: [ basic, requirements ]
        include:
          - requirementsFile: 'requirements.yml'
          - inventoryFile: 'inventory'
          - playbookFile: 'site.yml'

    steps:
      - name: ${{ matrix.test }}
        uses: labrats-work/action-ansible@main
        with:
          workingDirectory: "/tests/${{ matrix.test }}"
          requirementsFile: ${{ matrix.requirementsFile }}
          inventoryFile: ${{ matrix.inventoryFile }}
          playbookFile: ${{ matrix.playbookFile }}
