on: [push]

jobs:
  ansible_job:
    runs-on: ubuntu-latest
    name: Ansbile action tests.
    steps:
      - name: Default test
        id: test_default
        uses: labrats-work/action-ansible@main
        with:
          nsbl_workingdirectory: "/tests/default"

      - name: Basic test
        id: test_basic
        uses: labrats-work/action-ansible@main
        with:
          nsbl_workingdirectory: "/tests/basic"
          nsbl_requirements: 'requirements.yml'
          nsbl_inventory: 'inventory'
          nsbl_playbook: 'site.yml'
