on: [push]

jobs:

  tests_default:
    runs-on: ubuntu-latest
    name: Ansbile action tests.  
    steps:
      - name: default
        id: test_default
        uses: labrats-work/action-ansible@main
        with:
          nsbl_workingdirectory: "/tests/default"

  tests_matrix:
    runs-on: ubuntu-latest
    name: Ansbile action tests.    
    strategy:
      matrix: 
        test: [ basic, requirements, ssh-agent ]
        include:
          - nsbl_requirements: 'requirements.yml'
          - nsbl_inventory: 'inventory'
          - nsbl_playbook: 'site.yml'
          - nsbl_sshkeyFile: 'id_rsa'

    steps:
      - uses: actions/checkout@v2
      - name: ${{ matrix.test }}_loadKeyFile
        run: |
          cd ./tests/${{ matrix.test }}
          [ -f ${{ matrix.nsbl_sshkeyFile}} ] && echo "SSH_KEY=$(cat ${{ matrix.nsbl_sshkeyFile }})" >> $GITHUB_ENV
      - name: ${{ matrix.test }}
        uses: labrats-work/action-ansible@main
        with:
          nsbl_workingdirectory: "/tests/${{ matrix.test }}"
          nsbl_requirements: ${{ matrix.nsbl_requirements }}
          nsbl_inventory: ${{ matrix.nsbl_inventory }}
          nsbl_playbook: ${{ matrix.nsbl_playbook }}
          nsbl_sshkey: ${{ env.SSH_KEY }}
